/* INITIALISATION */
.Preload *
{
	transition: none !important;
	-webkit-transition: none !important;
  	-moz-transition: none !important;
  	-ms-transition: none !important;
  	-o-transition: none !important;
}



/* FONTS */
@font-face
{
	font-family: "bahnschrift";
	src: url("../fonts/bahnschrift/Bahnschrift.eot?iefix") format("embedded-opentype"), url("../fonts/bahnschrift/Bahnschrift.woff") format("woff"), url("../fonts/bahnschrift/Bahnschrift.ttf") format("truetype"), url("../fonts/bahnschrift/Bahnschrift.svg#bahnschrift") format("svg");
}



/* SCROLLBAR */

::-webkit-scrollbar
{
    width:12px;
}

::-webkit-scrollbar-track
{
    background-color: #444444;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(30,30,30);
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #000000;
}



html
{
	scroll-behavior: smooth;
}

body
{
	padding:0;
	margin:0;

	font-family:bahnschrift, sans-serif;
	font-weight: 400;
	background-color:rgba(40,40,40,1.00);
}

.Header
{
	position:fixed;
	top:0;
	z-index: 1;
	
	height:5vw;
	width:100%;
	
	background-color:rgb(30,30,30);
	box-shadow: 0 0 10px 1px black;
}

.HeaderLogo
{
	position:relative;
	float:left;
	margin-top:0.5vw;
	margin-left:2vh;
	height:80%;
	filter:drop-shadow(0 6px 2px black) brightness(80%);
	transition-duration: 0.1s;
}

.HeaderLogo:hover
{
	transform:scale(1.025);
	filter:
		drop-shadow(0px 2px 0px rgb(171, 148, 225))
		drop-shadow(0px -2px 0px rgb(171, 148, 225))
		drop-shadow(-2px 0px 0px rgb(171, 148, 225))
		drop-shadow(2px 0px 0px rgb(171, 148, 225))
		brightness(90%);
}

.HeaderNav
{
	position:relative;
	float:right;
	
	padding:0;
	margin-right:4vw;
	overflow:hidden;
	
	text-align:center;
	font-size:22px;
	
	color:#cccccc;
}

.HeaderNav a
{
	position:relative;
	float:left;
	margin-top:1.5vw;
	margin-left:2vw;
	margin-right:2vw;
	
	color:#cccccc;
	text-decoration:none;
	transition-duration:0.1s;
}

.HeaderNav a:hover
{
	color: rgb(171, 148, 225);
	transform:scale(1.1);
}

.LandingContainer
{
	text-align:center;
}

.Title
{
	position:relative;
	display: inline-block;
	margin:25vh 0 0 0;
	width:100%;
	color: #dddddd;
	font-size: 48px;
	filter:drop-shadow(0 5px 2px black);
}

.Subtitle
{
	text-align: center;
	margin-top:0;

	color:rgb(171, 148, 225);
	font-style:italic;
	font-size: 30px;
	filter:drop-shadow(0 5px 2px black);
}

.Button
{
	position:relative;
	padding: 1vw 3vw;
	display: inline-block;
	margin-top: 10vh;
	
	font-size: 26px;
	text-align:center;
	
	border-radius:6px;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(30,30,30);

	color:#cccccc;
	background-color:rgb(30,30,30);
	box-shadow: 0 2px 5px black;
	
	transition-duration: 0.1s;
}

.Button:hover
{
	cursor:pointer;
	transform:scale(1.05);

	border-color: rgb(128, 128, 171);

	color: rgb(171, 148, 225);
	background-color:rgb(32,32,32);
}

.ScrollTarget
{
	position:relative;
	float:left;
	top:37.5vw;
}

.SocialMediaMenu
{
	position:absolute;
	top:45vh;
	left:1vw;
}

.SocialMediaMenu a
{
	text-decoration: none;
}

.SocialMediaButton
{
	position: relative;
	left: 0;
	height:5vw;
	filter: drop-shadow(0 4px 2px black) brightness(80%);
	margin-bottom: 2vh;
	transition-duration: 0.1s;
}

.SocialMediaButton:hover
{
	transform:scale(1.1);
	filter:
		drop-shadow(0px 2px 0px rgb(171, 148, 225))
		drop-shadow(0px -2px 0px rgb(171, 148, 225))
		drop-shadow(-2px 0px 0px rgb(171, 148, 225))
		drop-shadow(2px 0px 0px rgb(171, 148, 225))
		brightness(90%);
}

.Divider
{
	position:relative;
	float:left;
	width:100%;
	height:10vw;
	box-shadow: 0 0 10px 1px black;
	
	background-color:rgb(30,30,30);
}

.Paragraph
{
	position:relative;
	float:center;
	overflow: hidden;
	margin-left:37.5vw;
	margin-right:37.5vw;
	
	width:25vw;
	
	color:#cccccc;
}

.Paragraph h1
{
	text-align: center;
	margin-top: 2vw;
	margin-bottom:1vw;
	font-size: 60px;
	font-style: italic;
	filter:drop-shadow(0 6px 3px black);
}

.Subheading
{
	margin-top:0vw;
	text-align: center;
	font-style: italic;
	
	color:#cccccc;
	font-size: 54px;
	filter:drop-shadow(0 5px 2px black);
}

.ArticlesContainer
{
	position:relative;
	float:left;
	
	width:100%;
	
	text-align: center;
}

.Article
{
	display:inline-block;
	margin: 2vw 3vw 6vw;
	padding:2vw;
	
	height:auto;
	width:20vw;
	
	border-radius:10px;
	border-width:5px;
	border-style:solid;
	border-color: rgb(30,30,30);

	text-align: left;
	color:#bbbbbb;
	background-color:rgb(30,30,30);
	filter:drop-shadow(0 4px 2px black);
	transition-duration: 0.1s;
}

.Article h1
{
	width:100%;
	margin-top:0;
	margin-bottom:0;
	text-align: center;

	color: #dddddd;
	transition-duration: 0.1s;
}
.Article h3
{
	width:100%;
	margin-bottom:0;
	text-align: center;

	color: rgb(128, 128, 171);
}
.Article img
{
	width:20vw;
	filter:drop-shadow(0 4px 2px black)brightness(80%);
}

.Article:hover
{
	cursor: default;
	transform: scale(1.05);
	
	border-color: rgb(128, 128, 171);
	background-color:rgb(32,32,32);
}

.Article:hover h1
{
	color: rgb(171, 148, 225);
}


.TagContainer
{
	float:left;
	margin-top:1vw;
	
	width:100%;
	text-align:center;
}

.Tag
{
	display:inline-block;
	margin:0.5vw 0.2vw 0;
	padding: 1px 10px;
	
	color:rgb(30,30,30);
	font-weight:1000;
	border-radius:25px;
	background-color:rgb(128, 128, 171);
	filter:drop-shadow(0 4px 2px black);
}

.ProfileContainer
{
	margin-top:8vw;
	position:relative;
	float:left;
	text-align:center;
	
	width:100%;
}

.Profile
{
	display:inline-block;
	padding:2vw;
	margin:1vw 5vw 5vw;
	
	width:21vw;
	
	border-radius:6px;
	text-align:center;
	vertical-align:middle;
	color:#bbbbbb;
	background-color:rgb(30,30,30);
	filter:drop-shadow(0 3px 5px black);
}

#WideProfile
{
	width:35vw;
	margin:1vw 15vw 5vw;
}

.Profile img
{
	display:inline-block;
	margin:2vw 0;
	
	width:20vw;
	
	border-radius:10px;
	border-width: 5px;
	border-style: solid;
	border-color: rgb(128, 128, 171);
	filter:brightness(80%) drop-shadow(0 3px 5px black);
}

.Profile h1
{
	margin:0;
	font-size: 40px;
	color: rgb(171, 148, 225);
}
.Profile h3
{
	margin:0;
	font-size: 24px;
	color: rgb(128, 128, 171);
}
.Profile p
{
	text-align: center;
	font-size: 18px;
}

.Profile a
{
	color:#bbbbbb;
	text-decoration: none;
	font-weight: 900;
	color: rgb(128, 128, 171);
	transition-duration: 0.1s;
}

.Profile a:hover
{
	color:rgb(171, 148, 225);
	cursor: pointer;
}

.ProfileButtonsContainer
{
	width:inherit;
	text-align:center;
}

.ProfileButtonsContainer a
{
	text-decoration: none;
}

.ProfileButton
{
	display:inline-block !important;
	margin:0 1vw !important;
	
	width:4vw !important;
	
	filter:brightness(70%) drop-shadow(0 3px 5px black) !important;
	transition-duration: 0.2s !important;
}

.ProfileButton:hover
{
	transform:scale(1.1) !important;
	filter:brightness(80%) drop-shadow(0 3px 5px black) !important;
}

.Footer
{
	position:relative;
	float:left;
	
	margin-top:5vw;
	padding: 3vw 0 1vw;
	width:100%;
	height:auto;
	
	color: #cccccc;
	background-color: rgb(30 30 30);
	box-shadow:0 0 10px 1px black;
}

.FootNote
{
	position:relative;
	float:left;
	margin-left: 3vw;
	
	width:40vw;
}

.FootNav
{
	position:relative;
	float:right;
	margin-right:3vw;
	
	font-size:20px;
	text-align:right;
}

.Footer a
{
	float:right;
	position:relative;
	margin-bottom:1.5vw;
	
	color:#cccccc;
	text-decoration: none;
	transition-duration: 0.1s;
}

.Footer a:hover
{
	color:rgb(171, 148, 225);
}

.Footer .SocialMediaButton:hover
{
	transform:scale(1.0);
}

/* SMALL SCREEN ADJUSTMENTS */
@media all and (max-width: 1200px), handheld
{
	.HeaderNav
	{
		font-size:2vw;
	}
	
	.SocialMediaMenu
	{
		top:40vh;
	}
	
	.Button
	{
		margin-bottom: 10vw;
	}
	
	.Paragraph
	{
		margin-left:15vw;
		width:70vw;
		height:auto;
	}
	
	
	.Subheading
	{
		margin-bottom: 3vw;
	}
	
	.Article
	{
		width:50vw;
		margin: 3vw 0;
	}
	
	.Article:hover
	{
		transform: scale(1.2);
	}
	
	.Article img
	{
		width:50vw;
	}
	
	.Profile
	{
		width:40vw;
		padding:4vw;
	}
	
	#WideProfile
	{
		width:60vw;
		margin:1vw 15vw 5vw;
	}
	
	.Profile img
	{
		width:40vw;
	}
	
	.ProfileButton
	{
		width:7vw !important;
		margin:0 2vw !important;
	}
	
	.FootNote
	{
		width:40vw;
	}
}

/* PORTRAIT MODE ADJUSTMENTS */
@media all and (orientation:portrait)
{
	body *
	{
		transform: none;
	}
	
	.Header
	{
		height:25vw;
	}
	
	.HeaderLogo
	{
		margin-top:2vw;
		float:none;
		align-self: center;
		height:50%;
	}
	
	.HeaderNav
	{
		font-size:5vw;
		margin-top:0.5vw;
	}
	
	.DropButton
	{
		margin:0 6vw;
	}
	
	.DropButtonText
	{
		padding:1vw 6vw 0;
	}
	
	.DropMenu
	{
		font-size:4vw;
	}
	
	.DropMenu a:hover
	{
		font-size:4vw;
	}
	
	.Title
	{
		position:relative;
		display: inline-block;
		margin:25vh 0 0 0;
		width:100%;
		color:#dddddd;
		font-size: 100px;
		filter:drop-shadow(0 5px 2px black);
	}
	
	.Subtitle
	{
		font-size:6vw;
		margin-bottom:20vh;
	}
	
	.Button
	{
		top:-20vh;
		width:30vw;
		padding: 2vh 3vh;
		font-size:5vw;
	}
	
	.ScrollTarget
	{
		top:10vh;
	}

	.Paragraph h1
	{
		font-size:12vw;
	}
	
	.Paragraph
	{
		font-size:4vw;
	}
	
	.SocialMediaMenu
	{
		top:70vh;
		left:auto;
		right:0;
	}
	
	.SocialMediaButton
	{
		height:10vw;
		left:auto;
		right:2vw;
	}
	
	.SocialMediaButton:hover
	{
		transform:scale(1.0);
	}
	
	.Paragraph h1
	{
		text-align: center;
	}
	
	.Subheading
	{
		margin-bottom: 3vw;
		font-size:12vw;
		font-weight:10000px;
	}
	
	.Article
	{
		width:70vw;
		margin: 8vw 0;
		padding:4vw 8vw;
		font-size:4vw;
	}
	
	.Article:hover
	{
		transform: none;
	}
	
	.Article img
	{
		width:70vw;
	}
	
	.Article a
	{
		margin-top:3vw;
		font-size:5vw;
	}
	
	.ProfileContainer
	{
		margin-top:35vw;
	}
	
	.Profile, #WideProfile
	{
		width:75vw;
		margin:0 0 15vw;

		padding:7.5vw;
	}
		
	.Profile img
	{
		width:75vw;
	}
	
	.Profile h1
	{
		font-size: 8vw;
	}
	
	.Profile h3
	{
		font-size:4vw;
	}
	
	.Profile p
	{
		font-size:4vw;
	}
	
	.ProfileButton
	{
		width:15vw !important;
		margin:0 4vw 3vw !important;
	}
	
	.FootNote
	{
		font-size:3vw;
	}
	
	.FootNav
	{
		font-size:4vw;
	}
	
	.FootNav a
	{
		margin-bottom:4vw;
	}
}